<!DOCTYPE html>
<html lang="fr">
<head>

<meta charset="utf-8">

{{ partial "meta.html" . }}

<title>{{ .Site.Title }} - {{ .Params.name }}</title>

{{ partial "head_includes.html" . }}


</head>
<body>

	{{ partial "navbar.html" . }}

    <div id="tf-home">
        <div class="overlay overlay-formateur">
            <div class="container">
               
            </div>
        </div>
    </div>

    <div id="formation-description">
        <div class="container">
             <div class="content-heading">   
                <h1>{{ .Params.name }}</h1>
                <h3><i class="fa fa-user"></i> {{ .Params.formateur }}</h3>
                <h4><i class="fa fa-calendar"></i> {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}</h4>
            </div>
            <p>{{ .Description }}</p>
        </div>
    </div>

    {{ partial "footer.html" .}}

</body>
</html>