<!DOCTYPE html>
<html lang="fr">
<head>

<meta charset="utf-8">

{{ partial "meta.html" . }}

<title>{{ .Site.Title }} - {{ .Params.name }}</title>

{{ partial "head_includes.html" . }}


</head>
<body>

	{{ partial "navbar.html" . }}

	<!-- Home Section
    ================================================== -->
    <div id="tf-home">
        <div class="overlay overlay-formateur">
            <div class="container">
                <div class="content-heading">   
                	<div class="row">
                		<div class="col-sm-4 text-center">
                			<img src="http://placehold.it/250x250" alt="{{ .Params.name }}" class="img-responsive img-circle img-thumbnail">
                		</div>

                		<div class="col-sm-8">
                			<h1>{{ .Params.name }}</h1>
                			<blockquote>{{ .Params.bio }}</blockquote>
                			<a href="{{ .Params.linkedin }}"><i class="fa fa-2x fa-linkedin"></i></a>
                			&nbsp;
                			<a href="{{ .Params.twitter }}"><i class="fa fa-2x fa-twitter"></i></a>
                		</div>
                	</div>            
                </div>
            </div>
        </div>
    </div>

    <div id="tf-prochaines-formations" class="gray-bg">
    	<div class="container">
    		<div class="content-heading text-center">
    			<h3><a data-toggle="collapse" href="#collapseProchainesFormations" aria-expanded="false" aria-controls="collapseProchainesFormations">Mes formations <span class="caret"></span></a></h3>
    		</div>

    		<div class="row collapse" id="collapseProchainesFormations">
    			<div class="col-sm-4">
    				<h4><span class="label label-default"><i class="fa fa-calendar"></i> &nbsp; 26 Janv.</span> &nbsp;&nbsp; <a href="#">Lorem ipsum dolor sit amet</a></h4>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis.</p>
    			</div>
    			<div class="col-sm-4">
    				<h4><span class="label label-default"><i class="fa fa-calendar"></i> &nbsp; 26 Janv.</span> &nbsp;&nbsp; <a href="#">Lorem ipsum dolor sit amet</a></h4>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis.</p>
    			</div>
    			<div class="col-sm-4">
    				<h4><span class="label label-default"><i class="fa fa-calendar"></i> &nbsp; 26 Janv.</span> &nbsp;&nbsp; <a href="#">Lorem ipsum dolor sit amet</a></h4>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis.</p>
    			</div>
    		</div>
    	</div>
    </div>

    <div id="tf-content">
    	<div class="container">
	    	<div class="row">
	    		<div class="col-md-8">
	    			<div id="tf-xp-terrain">
	    				<div class="section-header">
	    					<h2>Expérience de <span class="highlight">terrain</span></h2>
	    				</div>

    					<h3><span class="label label-default"><i class="fa fa-calendar"></i>&nbsp;&nbsp;2011 – 2013</span> &nbsp;&nbsp; Lorem ipsum dolor sit amet </h3>
    					<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis. Cras accumsan arcu a lacinia ultrices. Aliquam eget feugiat nibh, at posuere enim. Fusce nec feugiat lorem. Integer ac malesuada tellus.</blockquote>

    					<hr />

    					<h3><span class="label label-default"><i class="fa fa-calendar"></i>&nbsp;&nbsp;2011 – 2013</span> &nbsp;&nbsp; Lorem ipsum dolor sit amet </h3>
    					<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis. </blockquote>
	    			</div>

	    			<div id="tf-xp-formation">
	    				<div class="section-header">
	    					<h2>Expérience en <span class="highlight">formation</span></h2>
	    				</div>

	    				<h3><span class="label label-default"><i class="fa fa-calendar"></i>&nbsp;&nbsp;2011 – 2013</span> &nbsp;&nbsp; Lorem ipsum dolor sit amet </h3>
    					<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis. Cras accumsan arcu a lacinia ultrices. Aliquam eget feugiat nibh, at posuere enim. Fusce nec feugiat lorem. Integer ac malesuada tellus.</blockquote>

    					<hr />

    					<h3><span class="label label-default"><i class="fa fa-calendar"></i>&nbsp;&nbsp;2011 – 2013</span> &nbsp;&nbsp; Lorem ipsum dolor sit amet </h3>
    					<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia justo sit amet ante viverra, id placerat ipsum venenatis. </blockquote>
	    			</div>
	    		</div>

	    		<div class="col-md-4">
	    			<div id="tf-formations-certifs">
		    			<div class="section-header">
		    				<h2><span class="highlight">Formations</span> et <span class="highlight">certifications</span> effectuées</h2>
		    			</div>

		    			<ul class="list-group list-group-formateur">
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    			</ul>
		    		</div>

		    		<div id="tf-formateur-communaute">
		    			<div class="section-header">
		    				<h2><span class="highlight">Communauté</span></h2>
		    			</div>

		    			<div class="tf-formateur-communaute-block">
		    				<p><strong>Membre</strong> de <span class="highlight"><a href="#">LoremCommunity</a></span>, <span class="highlight"><a href="#">LoremCommunity</a></span>, <span class="highlight"><a href="#">LoremCommunity</a></span>, <span class="highlight"><a href="#">LoremCommunity</a></span> et <span class="highlight"><a href="#">LoremCommunity</a></span>.</p>

		    				<p><strong>Organisateur</strong> du <span class="highlight"><a href="#">AgileFest 2011</a></span>, <span class="highlight"><a href="#">Lorem Conference 2012</a></span> et <span class="highlight"><a href="#">Lorem Conference 2013</a></span>.</p>

		    				<p><strong>Speaker</strong> au <span class="highlight"><a href="#">AgileFest 2011</a></span>, <span class="highlight"><a href="#">Lorem Conference 2012</a></span> et <span class="highlight"><a href="#">Lorem Conference 2013</a></span>.</p>
		    			</div>
		    		</div>

		    		<div id="tf-formations-publications">
		    			<div class="section-header">
		    				<h2><span class="highlight">Publications</span></h2>
		    			</div>

		    			<ul class="list-group list-group-formateur">
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    				<li class="list-group-item">Lorem ipsum dolor sit amet</li>
		    			</ul>
		    		</div>
	    		</div>
	    	</div>
	    </div>
    </div>

    {{ partial "footer.html" . }}

</body>
</html>