	<!-- Footer 
    ================================================== -->
	<div id="tf-footer">
		<div class="container">
			<p class="pull-left">© 2015 AgileTribu. All rights reserved. Theme by Rudhi Sasmito.</p>
			<ul class="list-inline social pull-right">
				<li><a href="https://twitter.com/agiletribu"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="js/bootstrap.js"></script>

	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<!-- Owl Carousel Plugin -->

	<script type="text/javascript" src="js/SmoothScroll.js"></script>

	<!-- Google Map -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5XmTd608M-sr9eGMStAOE74kevPCCnM&amp;sensor=false"></script>
	<script type="text/javascript" src="js/map.js"></script>

	<!-- Parallax Effects -->
	<script type="text/javascript" src="js/skrollr.js"></script>
	<script type="text/javascript" src="js/imagesloaded.js"></script>

	<!-- Portfolio Filter -->
	<script type="text/javascript" src="js/jquery.isotope.js"></script>

	<!-- LightBox Nivo -->
	<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>

	<!-- Contact page-->
	<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
	<script type="text/javascript" src="js/contact.js"></script>

	<!-- Javascripts
    ================================================== -->
	<script type="text/javascript" src="js/main.js"></script>